<div align="center">
  <form method="POST" action="/homefinder">
    <div class="Vlt-form__element Vlt-form__element--big">   
      <div class="Vlt-input"><h4>Mobile Phone<input type="text" name="phone_number" class="form-control"></h4></div>     
    </div>     
    <div class="Vlt-form__element Vlt-form__element--big">            
      <button class="Vlt-btn Vlt-btn--primary" type="Submit">Start Demo</button>
    </div>
  </form>
</div>