<div align="center">
  <form method="POST" action="/tour">
    <div class="Vlt-form__element Vlt-form__element--big">   
      <div class="Vlt-input"><h4>Your Name<input type="text" name="client_name" class="form-control"></h4></div>
    </div>     
    <div class="Vlt-form__element Vlt-form__element--big">            
      <button class="Vlt-btn Vlt-btn--primary" type="Submit">Live Agent</button>
    </div>
  </form>
</div>